<nav class="navbar">
  <div class="pc-navbar">
    <ul>
      <li>
        <a title="Go to start page" href="/">@rvid.eu</a>
      </li>
      <li class="dropdown">
        <a class="dropbtn" href="/projects">Projects</a>
        <div class="dropdown-content">
          <a href="/projects/markdown-build">Markdown build tool</a>
        </div>
      </li>
      <li>
        <a href="/blogs/">Blogs</a>
      </li>
      <li>
        <a href="/contact">Contact me</a>
      </li>
    </ul>
  </div>
</nav>
